<title mat-dialog-title>Zmień dane użytkownika</title>
<mat-dialog-content style="max-width: min-content;">
    <mat-tab-group>
        <form [formGroup]="prefForm">
            <mat-tab label="Login">
                <mat-form-field style="margin-top: 20px;" appearance="outline" class="dialog-full-width">
                    <mat-label>Login</mat-label>
                    <input required type="text" matInput formControlName="login" placeholder="{{defaultLogin}}">
                </mat-form-field>
            </mat-tab>
            <mat-tab label="Nazwa">
                <mat-form-field style="margin-top: 20px;" appearance="outline" class="dialog-full-width">
                    <mat-label>Nazwa</mat-label>
                    <input required type="text" matInput formControlName="displayName" placeholder="{{defaultDisplayName}}">
                </mat-form-field>
            </mat-tab>
            <mat-tab  class="form-container" label="Hasło"> 
                <div>
                     <mat-form-field class="col-md-6">
                        <mat-label>New Password</mat-label>
                        <input type="password" matInput formControlName="newPassword" placeholder="Enter New Password"
                        [errorStateMatcher]="matcher"
                        >
                        <mat-error *ngIf="prefForm.controls.newPassword.hasError('required')">
                            New Password is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="row mt-3" *ngIf="prefForm.controls.newPassword.hasError('pattern')">
                    <mat-error *ngIf="prefForm.controls.newPassword.hasError('pattern')">
                        <span class="danger">Password Must contain below conditions.</span>
                        <ul>
                            <li [ngClass]="{'text-success':checkValidations(prefForm.controls.newPassword,'uppercase'), 'danger': !checkValidations(prefForm.controls.newPassword,'uppercase')}">Min 1 Uppercase Letter.</li>
                            <li [ngClass]="{'text-success':checkValidations(prefForm.controls.newPassword,'lowercase'), 'danger': !checkValidations(prefForm.controls.newPassword,'lowercase')}">Min 1 Lowercase Letter.</li>
                            <li [ngClass]="{'text-success':checkValidations(prefForm.controls.newPassword,'special-character'), 'danger': !checkValidations(prefForm.controls.newPassword,'special-character')}">Min 1 Special Character.</li>
                            <li [ngClass]="{'text-success':checkValidations(prefForm.controls.newPassword,'number'), 'danger': !checkValidations(prefForm.controls.newPassword,'number')}">Min 1 Number.</li>
                            <li [ngClass]="{'text-success':checkValidations(prefForm.controls.newPassword,'length'), 'danger': !checkValidations(prefForm.controls.newPassword,'length')}">Min 8 Characters.</li>
                            <li [ngClass]="{'text-success':checkValidations(prefForm.controls.newPassword,'length'), 'danger': !checkValidations(prefForm.controls.newPassword,'length')}">Max 16 Characters.</li>
                        </ul>
                    </mat-error>
                </div>

                <div>
                    <mat-form-field class="col-md-6">
                        <mat-label>Confirm New Password</mat-label>
                        <input type="password" matInput formControlName="confirmNewPassword" placeholder="Enter Confirm New Password"
                        [errorStateMatcher]="matcher"
                        >
                        <mat-error *ngIf="prefForm.controls.confirmNewPassword.hasError('required')">
                            Confirm New Password is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div> 
                <div class="row mt-3" *ngIf="prefForm.controls.confirmNewPassword.hasError('pattern')">
                    <mat-error *ngIf="prefForm.controls.confirmNewPassword.hasError('pattern')">
                        <span class="danger">Password Must contain below conditions.</span>
                        <ul>
                            <li [ngClass]="{'text-success':checkValidations(prefForm.controls.confirmNewPassword,'uppercase'), 'danger': !checkValidations(prefForm.controls.confirmNewPassword,'uppercase')}">Min 1 Uppercase Letter.</li>
                            <li [ngClass]="{'text-success':checkValidations(prefForm.controls.confirmNewPassword,'lowercase'), 'danger': !checkValidations(prefForm.controls.confirmNewPassword,'lowercase')}">Min 1 Lowercase Letter.</li>
                            <li [ngClass]="{'text-success':checkValidations(prefForm.controls.confirmNewPassword,'special-character'), 'danger': !checkValidations(prefForm.controls.confirmNewPassword,'special-character')}">Min 1 Special Character.</li>
                            <li [ngClass]="{'text-success':checkValidations(prefForm.controls.confirmNewPassword,'number'), 'danger': !checkValidations(prefForm.controls.confirmNewPassword,'number')}">Min 1 Number.</li>
                            <li [ngClass]="{'text-success':checkValidations(prefForm.controls.confirmNewPassword,'length'), 'danger': !checkValidations(prefForm.controls.confirmNewPassword,'length')}">Min 8 Characters.</li>
                            <li [ngClass]="{'text-success':checkValidations(prefForm.controls.confirmNewPassword,'length'), 'danger': !checkValidations(prefForm.controls.confirmNewPassword,'length')}">Max 16 Characters.</li>
                        </ul>
                    </mat-error>
                </div>
                 <div class="row mt-1" *ngIf="prefForm.hasError('notMatched')">
                    <mat-error *ngIf="prefForm.hasError('notMatched')">
                        <span class="danger">Passwords are not matched.</span>
                    </mat-error>
                </div>
            </mat-tab>
        </form>
    </mat-tab-group>
    <mat-dialog-actions>
        <div style="margin-left: 15px;" [matTooltip]="prefForm.invalid ? 'Należy podać wszystkie wymagane pola.' : ''">
            <button 
                mat-flat-button
                type="submit" 
                cdkFocusInitial
                [disabled]="prefForm.invalid"
                (click)="submit()">Zapisz
            </button>
        </div>
    </mat-dialog-actions>
</mat-dialog-content>