<title mat-dialog-title>Zmień dane użytkownika</title>
<mat-dialog-content style="max-width: min-content;">
    <mat-tab-group>
        <mat-tab label="Login">
            <app-login-update></app-login-update>
        </mat-tab>
        <mat-tab label="Nazwa">
            <app-display-name-update></app-display-name-update>
        </mat-tab>
        <mat-tab class="form-container" label="Hasło">
            <app-password-update></app-password-update>
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>