<div class="content">
    <h1>Utworzenie Nowej Grupy</h1>
    <p class="dialog-description">
        Tutaj możesz stworzyć własną grupę. <br>Po jej utworzeniu automatycznie staniesz się jej starostą.
    </p>
    <form [formGroup]="groupForm">
        <div class="dialog-content-half-container">
            <mat-form-field matTooltip="Możesz wybrać wcześniejsze roczniki jak i późniejsze." appearance="outline">
                <mat-label>Rok utworzenia</mat-label>
                <input formControlName="year" required type="number" matInput>
                <mat-error *ngIf="groupForm.get('year')?.invalid && groupForm.get('year')?.touched">
                    <span *ngIf="groupForm.get('year')?.hasError('required')">Podaj rok założenia.</span>
                    <span *ngIf="groupForm.get('year')?.hasError('min')">Podano za wczesny rok.</span>
                    <span *ngIf="groupForm.get('year')?.hasError('max')">Podano za późny rok.</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="dialog-full-width">
                <mat-label>Stopień studiów</mat-label>
                <mat-select required formControlName="level">
                    @for (option of studyLevels; track $index) {
                        <mat-option [value]="option">{{option | translate}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>
        <div class="dialog-content-flex-container">
            <mat-form-field appearance="outline" class="dialog-full-width">
                <mat-label>Kierunek studiów</mat-label>
                <input required type="text" matInput formControlName="course" [matAutocomplete]="auto">
                <mat-autocomplete 
                    [displayWith]="displayFn"
                    autoActiveFirstOption 
                    #auto="matAutocomplete">
                @for (option of filteredOptionsCourse$ | async; track $index) {
                    <mat-option [value]="option">{{option.displayText}}</mat-option>
                }
                </mat-autocomplete>
            </mat-form-field>
            <button matTooltip="Brakuje kierunku? Kliknij, aby utworzyć nowy." 
                (click)="handleCreateCourse()"
                mat-fab type="button">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <div matTooltip="Podgrupa wyliczana jest na podstawie poprzednich grup spełniających podane kryteria." 
            class="dialog-content-half-container">
            <mat-form-field appearance="outline">
                <mat-label>Podgrupa</mat-label>
                <input [value]="nextSubgroup$ | async" matInput formControlName="subgroup">
            </mat-form-field>
            <mat-slide-toggle  style="margin-top: 10px;" formControlName="springSemester">Semestr {{groupForm.controls.springSemester.value ? "letni": "zimowy"}}</mat-slide-toggle>
        </div>
    </form>
    <mat-divider></mat-divider>
    <h2>Zjazdy</h2>
    <p class="dialog-description">
        Ustawiaj weekendy zjazdowe zgodnie z rzeczywistością. <br> Nie jesteś pewny? Zawsze możesz się tym zająć później, w ustawieniach grupy.
    </p>
    <div style="overflow-y: auto; max-height: 80vh;">
        @if (groupForm.controls.springSemester.value) {
            <p>Lato</p>
            <app-session-editor [creation]="true" (onSessionUpdate)="handleSpringSessionUpdate($event)"></app-session-editor>
        } @else {
            <p>Zima</p>
            <app-session-editor [creation]="true" (onSessionUpdate)="handleFallSessionUpdate($event)"></app-session-editor>
        }
    </div>
    <mat-divider style="margin: 20px 0;"></mat-divider>
    <div style="display: flex; justify-content: end;">
        <div style="margin-left: 15px;" [matTooltip]="groupForm.invalid ? 'Należy podać wszystkie wymagane pola.' : ''">
            <button 
                mat-flat-button
                type="submit" 
                cdkFocusInitial
                [disabled]="groupForm.invalid"
                (click)="submit()">Utwórz
            </button>
        </div>
    </div>
</div>
