<title mat-dialog-title>Utworzenie Nowej Grupy</title>
<mat-dialog-content>
    <p class="dialog-description">
        Tutaj możesz stworzyć własną grupę. <br>Po jej utworzeniu automatycznie staniesz się jej starostą.
    </p>
    <form [formGroup]="groupForm">
        <div class="dialog-content-half-container">
            <mat-form-field appearance="outline">
                <mat-label>Rok utworzenia</mat-label>
                <input formControlName="year" required type="number" matInput>
                <mat-error *ngIf="groupForm.get('year')?.invalid && groupForm.get('year')?.touched">
                    <span *ngIf="groupForm.get('year')?.hasError('required')">Podaj rok założenia.</span>
                    <span *ngIf="groupForm.get('year')?.hasError('min')">Podano za wczesny rok.</span>
                    <span *ngIf="groupForm.get('year')?.hasError('max')">Podano za późny rok.</span>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="dialog-content-half-container">
            <mat-form-field appearance="outline" class="dialog-full-width">
                <mat-label>Tryb studiów</mat-label>
                <mat-select formControlName="mode">
                    @for (option of studyModes; track $index) {
                        <mat-option [value]="option">{{option | translate}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="dialog-full-width">
                <mat-label>Stopień studiów</mat-label>
                <mat-select formControlName="level">
                    @for (option of studyLevels; track $index) {
                        <mat-option [value]="option">{{option | translate}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>
        <div class="dialog-content-flex-container">
            <mat-form-field appearance="outline" class="dialog-full-width">
                <mat-label>Kierunek studiów</mat-label>
                <input type="text" matInput formControlName="course" [matAutocomplete]="auto">
                <mat-autocomplete 
                    [displayWith]="displayFn"
                    autoActiveFirstOption 
                    #auto="matAutocomplete">
                @for (option of filteredOptionsCourse$ | async; track $index) {
                    <mat-option [value]="option">{{option.displayText}}</mat-option>
                }
                </mat-autocomplete>
            </mat-form-field>
            <button mat-fab type="button">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <div class="dialog-content-half-container">
            <mat-form-field appearance="outline">
                <mat-label>Podgrupa</mat-label>
                <input matInput formControlName="subgroup">
            </mat-form-field>
        </div>
    </form>
    <mat-dialog-actions>
        <button mat-raised-button type="button" (click)="onNoClick()">Anuluj</button>
        <button 
            mat-flat-button
            type="submit" 
            cdkFocusInitial
            [disabled]="groupForm.invalid"
            (click)="submit()">Utwórz</button>
    </mat-dialog-actions>
</mat-dialog-content>
