<title mat-dialog-title>Utworzenie Nowej Grupy</title>
<mat-dialog-content>
    <p class="dialog-description">
        Tutaj możesz stworzyć własną grupę. <br>Po jej utworzeniu automatycznie staniesz się jej starostą.
    </p>
    <form class="create-form">
        <mat-form-field>
            <mat-label>Rok</mat-label>
            <input type="number" matInput value="Google">
        </mat-form-field>
        <table class="dialog-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="dialog-full-width">
                        <mat-label>Tryb studiów</mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>
                <td class="space"></td>
                <td>
                    <mat-form-field class="dialog-full-width">
                        <mat-label>Stopień studiów</mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>
            </tr>
        </table>
        <mat-form-field class="dialog-full-width">
            <mat-label>Kierunek</mat-label>
            <input matInput value="Google">
        </mat-form-field>
        <mat-dialog-actions>
            <button mat-button>No Thanks</button>
            <button mat-button type="button" (click)="submit()" cdkFocusInitial>Ok</button>
        </mat-dialog-actions>
    </form>
</mat-dialog-content>