<title mat-dialog-title>Utworzenie Nowej Grupy</title>
<mat-dialog-content>
    <p class="dialog-description">
        Tutaj możesz stworzyć własną grupę. <br>Po jej utworzeniu automatycznie staniesz się jej starostą.
    </p>
    <form [formGroup]="groupForm" class="dialog-content-container">
        <mat-form-field>
            <mat-label>Rok</mat-label>
            <input formControlName="year" required type="number" matInput>
            <mat-error *ngIf="groupForm.get('year')?.invalid && groupForm.get('year')?.touched">
                <span *ngIf="groupForm.get('year')?.hasError('required')">Podaj rok założenia.</span>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="dialog-full-width new-row">
            <mat-label>Tryb studiów</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field class="dialog-full-width">
            <mat-label>Stopień studiów</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field class="dialog-full-width full-row">
            <mat-label>Kierunek</mat-label>
            <input matInput value="Google">
        </mat-form-field>
    </form>
    <mat-dialog-actions>
        <button mat-button type="button" (click)="onNoClick()">Anuluj</button>
        <button 
            mat-button 
            type="submit" 
            cdkFocusInitial
            [disabled]="groupForm.invalid"
            (click)="submit()">Utwórz</button>
    </mat-dialog-actions>
</mat-dialog-content>