<div style="margin-top: 20px;"></div>
<div style="display: flex; justify-content: center;">
  <mat-form-field class="input-container" appearance="outline">
      <mat-label>Zacznij pisać...</mat-label>
      <input required type="text" matInput [formControl]="sendMessageControl" (keydown.enter)="send()">
  </mat-form-field>
</div>
<mat-divider></mat-divider>
<div class="messages-container">
  @for (message of messages; track $index) {
    @if (message.user.id === currentUserId) {
      <div class="my-message">
        <mat-card appearance="outlined" [matTooltip]="message.createdAt.toString()">
          <mat-card-actions align="end" [innerHTML]="message.content">
          </mat-card-actions>
        </mat-card>
      </div>
    } @else {
      <div class="foreign-message">
        <span class="author"> <b [style.color]="message.user.role === 'Admin' ? 'red' : ''">{{message.user.displayName}}</b></span>
        <mat-card appearance="outlined" [matTooltip]="message.createdAt.toString()">
          <mat-card-actions [innerHTML]="message.content">
          </mat-card-actions>
        </mat-card>
      </div>
    }
  }
</div>