.clickable-container {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: #3f51b5; /* Kolor primary Material */
}
.icon {
  font-size: 18px;
  height: 18px;
  width: 18px;
}
.text:hover {
  text-decoration: underline;
}