@if (group) {
    <title mat-dialog-title> {{canModify ? 'Modifikacja' : activityId ? "Szczegóły" : 'Utworzenie Nowych'}} zajęć dla grupy {{getGroupName(group)}}</title>
    <mat-dialog-content>
        <p class="dialog-description">
        @if(!activityId)  {
            Tutaj możesz mod zajęcia do grupy <b>{{getGroupName(group)}}</b>. 
            <br>Po utworzeniu pojawią się one na liście zajęć oraz w kalendarzu.
        }
        </p>    
        <form [formGroup]="activityForm">
            <div class="dialog-content-half-container">
                <mat-form-field appearance="outline">
                    <mat-label>Nazwa zajęć</mat-label>
                    <input formControlName="name" required type="text" matInput>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Prowadzący</mat-label>
                    <input formControlName="teacherFullName" required type="text" matInput>
                </mat-form-field>
            </div>
            <app-divider>Lokalizacja</app-divider>
            <mat-checkbox formControlName="isRemote">Zdalnie</mat-checkbox>
            @if (!activityForm.controls.isRemote.value) {
                <div class="dialog-content-flex-container">
                    <mat-form-field appearance="outline">
                        <mat-label>Budynek</mat-label>
                        <input type="text" matInput formControlName="building" [matAutocomplete]="auto">
                        <mat-autocomplete 
                            [displayWith]="displayFn"
                            autoActiveFirstOption 
                            #auto="matAutocomplete">
                        @for (option of filteredOptionsBuilding$ | async; track $index) {
                            <mat-option [value]="option">{{option.displayText}}</mat-option>
                        }
                        </mat-autocomplete>
                    </mat-form-field>
                    <button matTooltip="Brakuje budynku? Kliknij, aby utworzyć nowy." 
                        (click)="handleCreateBuilding()"
                        mat-mini-fab type="button">
                        <mat-icon>add</mat-icon>
                    </button>
                    <mat-form-field appearance="outline" class="dialog-full-width">
                        <mat-label>Sala</mat-label>
                        <input formControlName="room" type="text" matInput>
                    </mat-form-field>
                </div>
            }
            <app-divider>Termin</app-divider>
            <div style="margin: 30px 0; max-width: 550px;">
                <mat-chip-set>
                    @for (option of sessionsHalf1; track $index) {
                        <mat-chip-option [disabled]="activityId" [selected]="activity && option.id === activity.session!.number" (selectionChange)="onSessionClicked(option.id, $event.selected)" [matTooltip]="option.additionalInfo" >Zjazd {{option.displayText}}</mat-chip-option>
                    }
                </mat-chip-set>
                <mat-chip-set>
                    @for (option of sessionsHalf2; track $index) {
                        <mat-chip-option [disabled]="activityId" [selected]="activity && option.id === activity.session!.number" (selectionChange)="onSessionClicked(option.id, $event.selected)" [matTooltip]="option.additionalInfo" >Zjazd {{option.displayText}}</mat-chip-option>
                    }
                </mat-chip-set>
            </div>
            <div style="margin-bottom: 20px;">
                <mat-radio-group formControlName="weekDay">
                    <mat-radio-button value="saturday">Sobota</mat-radio-button>
                    <mat-radio-button value="sunday">Niedziela</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="dialog-content-21-container">
                <mat-form-field appearance="outline" class="dialog-full-width">
                    <mat-label>Godzina rozpoczęcia</mat-label>
                    <mat-select required formControlName="startingHour">
                        @for (option of allHours; track $index) {
                            <mat-option [value]="option">{{option}}:00</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Godzina zakończenia</mat-label>
                    <input disabled [value]="getEndHour()" type="text" matInput>
                </mat-form-field>
            </div>
            @if (activityForm.controls.startingHour.dirty || activityId) {
                <label>Czas trwania (h)</label>
                <mat-slider min="1" max="6" discrete showTickMarks style="width: 95%;">
                    <input matSliderThumb formControlName="duration" #slider>
                </mat-slider>
            }
            @if (activitiesConflicted.length > 0) {
                <mat-error>
                    <span class="danger">Wybrany termin jest zajęty przez następujące zajęcia:</span>
                    <ul>
                        @for (activity of activitiesConflicted; track $index) {
                            <li>
                                <b>Zjazd {{parseSessionNumber(activity.session.number)}}</b> 
                                {{this.formatHour(activity.startingHour)}} - 
                                {{getEndHourWithParams(activity.duration, activity.startingHour)}}
                                {{getDay(activity.session.weekNumber, activity.weekDay)}} 
                                {{activity.name}}({{activity.teacherFullName}})
                            </li>
                        }
                    </ul>
                </mat-error>
            }
        </form>
        <mat-dialog-actions>
            <button mat-raised-button type="button" (click)="onNoClick()">Anuluj</button>
            @if (isAdmin) {
                <div style="margin-left: 15px;">
                    <button 
                        mat-flat-button
                        type="submit" 
                        cdkFocusInitial
                        [disabled]="activityForm.invalid || isLoading"
                        (click)="submit()">{{activityId ? 'Zmień' : 'Utwórz'}}
                    </button>
                </div>
            }
        </mat-dialog-actions>
    </mat-dialog-content>
}