@if (userGroup) {
    <title mat-dialog-title>Utworzenie Nowych Zajęć</title>
    <mat-dialog-content>
        <p class="dialog-description">
            Tutaj możesz dodać zajęcia do grupy <b>{{getGroupName(userGroup)}}</b>. 
            <br>Po utworzeniu pojawią się one na liście zajęć oraz w kalendarzu.
        </p>
        <form [formGroup]="activityForm">
            <div class="dialog-content-half-container">
                <mat-form-field appearance="outline">
                    <mat-label>Nazwa zajęć</mat-label>
                    <input formControlName="name" required type="text" matInput>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Prowadzący</mat-label>
                    <input formControlName="teacherFullName" required type="text" matInput>
                </mat-form-field>
            </div>
            <div class="dialog-content-flex-container">
                <mat-form-field appearance="outline" class="dialog-full-width">
                    <mat-label>Zjazd</mat-label>
                    <mat-select required formControlName="sessionNumber">
                        @for (option of allSessions; track $index) {
                            <mat-option [value]="option">{{option.displayText}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
        </form>
        <mat-dialog-actions>
            <button mat-raised-button type="button" (click)="onNoClick()">Anuluj</button>
            <div style="margin-left: 15px;" [matTooltip]="activityForm.invalid ? 'Należy podać wszystkie wymagane pola.' : ''">
                <button 
                    mat-flat-button
                    type="submit" 
                    cdkFocusInitial
                    [disabled]="activityForm.invalid"
                    (click)="submit()">Utwórz
                </button>
            </div>
        </mat-dialog-actions>
    </mat-dialog-content>
}