/.vs
/WebSchedule/.vs/ProjectEvaluation
/WebSchedule/.vs/WebSchedule
/WebSchedule/bin/Debug/net7.0
/WebSchedule/bin/Release/net7.0
/WebSchedule/obj
/WebSchedule.Domain/bin/Debug/net7.0
/WebSchedule.Domain/bin/Release/net7.0
/WebSchedule.Infrastructure/bin/Debug/net7.0
/WebSchedule.Infrastructure/bin/Release/net7.0
/WebSchedule.Tests/bin/Debug/net7.0
/WebSchedule.Tests/obj
/WebSchedule.Domain/obj
/WebSchedule.Infrastructure/obj