/.vs
/WebSchedule/.vs/ProjectEvaluation
/WebSchedule/.vs/WebSchedule
/WebSchedule/bin/Debug
/WebSchedule/bin/Release
/WebSchedule/obj
/WebSchedule.Domain/bin/Debug
/WebSchedule.Domain/bin/Release
/WebSchedule.Infrastructure/bin/Debug
/WebSchedule.Infrastructure/bin/Release
/WebSchedule.ZTest.Domain/bin/Debug
/WebSchedule.ZTest.Domain/obj
/WebSchedule.Domain/obj
/WebSchedule.Infrastructure/obj
/obj