<form [formGroup]="prefForm">
    <mat-form-field style="margin-top: 20px;" appearance="outline" class="dialog-full-width">
        <mat-label>Stare hasło</mat-label>
        <input formControlName="currentPassword" type="password" matInput>
        <mat-error *ngIf="prefForm.controls.currentPassword.errors?.['required']">
            Stare hasło jest wymagane
        </mat-error>
    </mat-form-field> 
    <mat-form-field style="margin-top: 20px;" appearance="outline" class="dialog-full-width">
        <mat-label>Nowe hasło</mat-label>
        <input required formControlName="newPassword" type="password" matInput>
        <mat-error>
            <span class="danger">Nowe hasło musi spełniać każdy z poniższych warunków.</span>
            <ul>
                <li *ngIf="prefForm.controls.newPassword.errors?.['required']">Hasło jest wymagane</li>
                <li *ngIf="prefForm.get('newPassword')?.errors?.['minlength']">Hasło musi mieć co najmniej 8 znaków</li>
                <li *ngIf="prefForm.get('newPassword')?.errors?.['passwordUpperCase']">Hasło musi zawierać co najmniej jedną wielką literę</li>
                <li *ngIf="prefForm.get('newPassword')?.errors?.['passwordLowerCase']">Hasło musi zawierać co najmniej jedną małą literę</li>
                <li *ngIf="prefForm.get('newPassword')?.errors?.['passwordNumeric']">Hasło musi zawierać co najmniej jedną cyfrę</li>
                <li *ngIf="prefForm.get('newPassword')?.errors?.['passwordSpecial']">Hasło musi zawierać co najmniej jeden znak specjalny</li>
            </ul>
        </mat-error>
    </mat-form-field>
    <mat-form-field style="margin-top: 20px;" appearance="outline" class="dialog-full-width">
        <mat-label>Powtórz hasło</mat-label>
        <input formControlName="repeatPassword" type="password" matInput [errorStateMatcher]="matcher">
        <mat-error>
            Hasła nie są identyczne
        </mat-error>
    </mat-form-field> 
</form>
<div style="margin: 20px 0; direction: rtl;" [matTooltip]="prefForm.invalid ? 'Należy podać wszystkie wymagane pola.' : ''">
    <button 
        mat-flat-button
        type="submit" 
        cdkFocusInitial
        [disabled]="prefForm.invalid"
        (click)="submit()">Zmień hasło
    </button>
</div>