<div class="content">
    <div class="content-search-add-groups">
        
    </div>
    <div class="content-my-groups">
        <h3>Moje grupy</h3>
        <table mat-table [dataSource]="groups$">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nazwa </th>
                <td mat-cell *matCellDef="let element"> {{getName(element)}} </td>
            </ng-container>
            <ng-container matColumnDef="startingYear">
                <th mat-header-cell *matHeaderCellDef> Rok </th>
                <td mat-cell *matCellDef="let element"> {{element.startingYear}} </td>
            </ng-container>
            <ng-container matColumnDef="studyCourseName">
                <th mat-header-cell *matHeaderCellDef> Zajęcia </th>
                <td mat-cell *matCellDef="let element"> {{element.studyCourseName}} </td>
            </ng-container>
            <ng-container matColumnDef="studyLevel">
                <th mat-header-cell *matHeaderCellDef> Stopień </th>
                <td mat-cell *matCellDef="let element"> {{element.studyLevel}} </td>
            </ng-container>
            <ng-container matColumnDef="studyMode">
                <th mat-header-cell *matHeaderCellDef> Tryb </th>
                <td mat-cell *matCellDef="let element"> {{element.studyMode}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Actions">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item >
                            <mat-icon>edit</mat-icon>
                            <span>Edit</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>delete</mat-icon>
                            <span>Delete</span>
                        </button>
                    </mat-menu>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>
