<div style="direction: rtl; margin: 20px 20px 12px 20px;">
    <button (click)="addActivity()" matTooltip="Utwórz zajęcia" mat-mini-fab type="button"><mat-icon>add</mat-icon></button>
</div>
<div class="activities-container">
    @for (session of activitiesInSessions; track $index) {
        <app-divider style="margin: 20px 0;">Zjazd {{session.sessionNumber.toString().padStart(2, '0')}}</app-divider>
        @for (activity of session.activities; track $index) {
            <mat-card style="margin: 10px;">
                <mat-card-content>
                    <mat-card-title style="display: flex; justify-content: space-between;">
                        <div style="display: flex; gap: 5px;">
                            <mat-chip [matTooltip]="getDay(activity.session.weekNumber, activity.weekDay)">{{activity.weekDay | translate}}</mat-chip>
                            <mat-chip>{{activity.startingHour}}:00 - {{activity.startingHour + activity.duration}}:00</mat-chip>
                        </div>
                        <button matTooltip="Ustawienia" mat-icon-button [matMenuTriggerFor]="settings"> <mat-icon>more_vert</mat-icon></button>
                        <mat-menu #settings="matMenu">
                            <button mat-menu-item>
                                <mat-icon>group_remove</mat-icon>
                                Opuść grupę
                            </button>
                        </mat-menu>
                    </mat-card-title>
                    <mat-card-subtitle style="display: flex; justify-content: space-between; margin-top: 20px;">
                        <label style="max-width: 15vw;">{{activity.teacherFullName}}</label>
                        <label><b>{{activity.name}}</b></label>
                        <label></label>
                    </mat-card-subtitle>
                </mat-card-content>
            </mat-card>
        }
    }
</div>
