<div style="direction: rtl; margin: 20px;">
    <button (click)="addActivity()" matTooltip="Utwórz zajęcia" mat-mini-fab type="button"><mat-icon>add</mat-icon></button>
</div>
{{userGroup?.group?.id}}
<div class="activities-container">
    <app-divider>Zjazd 01</app-divider>
    <mat-card style="margin: 15px;">
        <mat-card-content>
            <mat-card-title style="display: flex; justify-content: space-between;">
                <div style="display: flex; gap: 5px;">
                    <mat-chip matTooltip="04.10.2025">Sobota</mat-chip>
                    <mat-chip>14:00 - 16:00</mat-chip>
                </div>
                <button matTooltip="Ustawienia" mat-icon-button [matMenuTriggerFor]="settings"> <mat-icon>more_vert</mat-icon></button>
                <mat-menu #settings="matMenu">
                    <button mat-menu-item>
                        <mat-icon>group_remove</mat-icon>
                        Opuść grupę
                    </button>
                </mat-menu>
            </mat-card-title>
            <mat-card-subtitle style="display: flex; justify-content: space-between; margin-top: 20px;">
                <label style="max-width: 15vw;">Władysław Kosiniak-Kamysz</label>
                <label><b>Programowanie sieciowe</b></label>
                <label></label>
            </mat-card-subtitle>
        </mat-card-content>
    </mat-card>

    <mat-card style="margin: 15px;">
        <mat-card-content>
            <mat-card-title style="display: flex; justify-content: space-between;">
                <div style="display: flex; gap: 5px;">
                    <mat-chip matTooltip="05.10.2025">Niedziela</mat-chip>
                    <mat-chip>16:00 - 18:00</mat-chip>
                </div>
                <button matTooltip="Ustawienia" mat-icon-button [matMenuTriggerFor]="settings"> <mat-icon>more_vert</mat-icon></button>
                <mat-menu #settings="matMenu">
                    <button mat-menu-item>
                        <mat-icon>group_remove</mat-icon>
                        Opuść grupę
                    </button>
                </mat-menu>
            </mat-card-title>
            <mat-card-subtitle style="display: flex; justify-content: space-between; margin-top: 20px;">
                <label style="max-width: 15vw;">Anna Maria Wesołowska</label>
                <label><b>Zaawansowane aplikacje mobilne</b></label>
                <label></label>
            </mat-card-subtitle>
        </mat-card-content>
    </mat-card>

    <app-divider>Zjazd 02</app-divider>
    <mat-card style="margin: 15px;">
        <mat-card-content>
            <mat-card-title style="display: flex; justify-content: space-between;">
                <div style="display: flex; gap: 5px;">
                    <mat-chip matTooltip="11.10.2025">Sobota</mat-chip>
                    <mat-chip>14:00 - 16:00</mat-chip>
                </div>
                <button matTooltip="Ustawienia" mat-icon-button [matMenuTriggerFor]="settings"> <mat-icon>more_vert</mat-icon></button>
                <mat-menu #settings="matMenu">
                    <button mat-menu-item>
                        <mat-icon>group_remove</mat-icon>
                        Opuść grupę
                    </button>
                </mat-menu>
            </mat-card-title>
            <mat-card-subtitle style="display: flex; justify-content: space-between; margin-top: 20px;">
                <label style="max-width: 15vw;">Władysław Kosiniak-Kamysz</label>
                <label><b>Programowanie sieciowe</b></label>
                <label></label>
            </mat-card-subtitle>
        </mat-card-content>
    </mat-card>

    <mat-card style="margin: 15px;">
        <mat-card-content>
            <mat-card-title style="display: flex; justify-content: space-between;">
                <div style="display: flex; gap: 5px;">
                    <mat-chip matTooltip="12.10.2025">Niedziela</mat-chip>
                    <mat-chip>16:00 - 18:00</mat-chip>
                </div>
                <button matTooltip="Ustawienia" mat-icon-button [matMenuTriggerFor]="settings"> <mat-icon>more_vert</mat-icon></button>
                <mat-menu #settings="matMenu">
                    <button mat-menu-item>
                        <mat-icon>group_remove</mat-icon>
                        Opuść grupę
                    </button>
                </mat-menu>
            </mat-card-title>
            <mat-card-subtitle style="display: flex; justify-content: space-between; margin-top: 20px;">
                <label style="max-width: 15vw;">Anna Maria Wesołowska</label>
                <label><b>Zaawansowane aplikacje mobilne</b></label>
                <label></label>
            </mat-card-subtitle>
        </mat-card-content>
    </mat-card>
</div>
