<div class="schedule-container">
  @if(session) {
    <header class="schedule-header">
        <div class="corner-space-wrapper">
            <div style="font-size: small;">
                Semester {{session.springSemester ? "letni" : "zimowy"}}, tydzień {{session.weekNumber}}
            </div>
            <div class="corner-space-middle-wrapper">
                <button mat-icon-button [disabled]="session.number === 1 && !session.springSemester" (click)="setPreviousSession()"> <mat-icon>arrow_left</mat-icon></button>
                <div class="corner-middle-space" [matTooltip]="getPeriod(session.weekNumber)">Zjazd {{session.number.toString().padStart(2, '0')}}</div>
                <button mat-icon-button [disabled]="session.number === 10 && session.springSemester" (click)="setNextSession()"> <mat-icon>arrow_right</mat-icon></button>
            </div>
            
        </div>
        <div class="timeline-wrapper">
            <div class="timeline">
                <div class="hour-slot"><span>08</span></div>
                <div class="hour-slot"><span>09</span></div>
                <div class="hour-slot"><span>10</span></div>
                <div class="hour-slot"><span>11</span></div>
                <div class="hour-slot"><span>12</span></div>
                <div class="hour-slot"><span>13</span></div>
                <div class="hour-slot"><span>14</span></div>
                <div class="hour-slot"><span>15</span></div>
                <div class="hour-slot"><span>16</span></div>
                <div class="hour-slot"><span>17</span></div>
                <div class="hour-slot"><span>18</span></div>
                <div class="hour-slot"><span>19</span></div>
                <div class="hour-slot"><span>20</span></div>
                <div class="hour-slot"><span>21</span></div>
                <div class="hour-slot"><span>22</span></div>
            </div>
        </div>
    </header>
    <main class="schedule-body">
        <aside class="schedule-sidebar">
        <div class="day-section">
            <div class="day-name-wrapper">
                <div class="day-name">Sobota</div>
            </div>
            <div class="group-list" style="flex-direction: column-reverse;">
                @for (group of groupsToDisplay; track $index) {
                    <div class="group-slot">{{getGroupName(group)}}</div>
                }
                @for (item of emptySlots; track $index) {
                    <div class="group-slot"></div>
                }
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="day-section">
            <div class="day-name-wrapper">
                <div class="day-name">Niedziela</div>
            </div>
            <div class="group-list" style="flex-direction: column;">
                @for (group of groupsToDisplay; track $index) {
                    <div class="group-slot">{{getGroupName(group)}}</div>
                }
                @for (item of emptySlots; track $index) {
                    <div class="group-slot"></div>
                }
            </div>
        </div>
        </aside>

        <div class="grid-wrapper">
        <div class="grid-area">
            <div class="day-grid">
                @for (activity of activitiesForSaturday; track $index) {
                    <mat-card (click)="modifyActivity(activity.id, activity.groupId)" 
                        class="class-tile class-tile--red" 
                        [style.grid-row]="activity.position" 
                        [style.grid-column]="`${activity.start} / span ${activity.duration}`" >
                        {{activity.name}}                        
                        <div class="corner-text">{{activity.room ? activity.room : "Zdalnie"}}</div>
                    </mat-card>
                }
            </div>
            <mat-divider></mat-divider>
            <div class="day-grid">
                @for (activity of activitiesForSunday; track $index) {
                    <mat-card (click)="modifyActivity(activity.id, activity.groupId)"
                        class="class-tile class-tile--green" 
                        [style.grid-row]="activity.position" 
                        [style.grid-column]="`${activity.start} / span ${activity.duration}`">
                        {{activity.name}}
                        <div class="corner-text">{{activity.room ? activity.room : "Zdalnie"}}</div>
                    </mat-card>
                }
            </div>
        </div>
        </div>
    </main>
  } @else {
    Brak danych
  }
</div>