<mat-drawer-container class="week-drawer-container">
    <mat-drawer class="week-drawer" mode="side" position="end" [opened]="sidenavOpened$ | async">
        <div class="week-drawer-close">
            <button mat-icon-button (click)="closeSidenav()"><mat-icon>close</mat-icon></button>
        </div>
        <p>Auto-resizing sidenav</p>
        <p>Lorem, ipsum dolor sit amet consectetur. Lorem, ipsum dolor sit amet consectetur Lorem, ipsum dolor sit amet consectetur</p>
    </mat-drawer>

    {{groupsToDisplay}}

</mat-drawer-container>