<title mat-dialog-title>Wybór Grupy Studenckiej</title>
<mat-dialog-content class="search-dialog">
    <p class="dialog-description">
        Tutaj możesz wyszukać i wybrać grupę studencką, do której chcesz się zapisać. <br>Użyj dostępnych filtrów, aby precyzyjnie znaleźć interesującą Cię grupę.
    </p>
    <app-search-group [hasJoinOption]="true" [pagesizeOptions]="[5, 10, 20]"></app-search-group>
    <a (click)="handleCreateNewGroup()" class="dialog-description as-link">
        Nie ma tu Twojej grupy? Kliknij, aby stworzyć nową i zostać jej starostą.
    </a>
</mat-dialog-content>