<mat-dialog-content class="search-dialog">
    <div class="search-dialog-filters">
        <mat-form-field>
            <mat-label>Zajęcia</mat-label>
            <input type="text" matInput [formControl]="courseFilterControl" [matAutocomplete]="auto">
            <mat-autocomplete 
                autoActiveFirstOption 
                (optionSelected)="applyFilter($event.option.value, 'studyCourseName')"
                #auto="matAutocomplete">
            @for (option of filteredOptionsCourse$ | async; track $index) {
                <mat-option [value]="option">{{option}}</mat-option>
            }
            </mat-autocomplete>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Rok</mat-label>
            <mat-select 
                [formControl]="yearFilterControl"
                (selectionChange)="applyFilter($event.value, 'startingYear')"
                value="all">
                <mat-option value="all">Wszystkie</mat-option>
                @for (option of filterOptionsYear; track $index) {
                    <mat-option [value]="option">{{option}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Stopień</mat-label>
            <mat-select 
                [formControl]="levelFilterControl"
                (selectionChange)="applyFilter($event.value, 'studyLevel')"
                value="all">
                <mat-option value="all">Wszystkie</mat-option>
                @for (option of filterOptionsLevel; track $index) {
                    <mat-option [value]="option">{{option | translate}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Tryb</mat-label>
            <mat-select 
                [formControl]="modefilterControl"
                (selectionChange)="applyFilter($event.value, 'studyMode')"
                value="all">
                <mat-option value="all">Wszystkie</mat-option>
                @for (option of filterOptionsMode; track $index) {
                    <mat-option [value]="option">{{option | translate}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <button mat-fab (click)="onClearAllFilters()">
            <mat-icon>clear_all</mat-icon>
        </button>
    </div>
    <div class="search-dialog-list">
        <div *ngIf="isLoading">
            <mat-spinner></mat-spinner>
        </div>
        <div *ngIf="noData">
            Brak grup
        </div>
        <div *ngIf="!isLoading && !noData" >
            <mat-table [dataSource]="groups!" class="search-dialog-list-table-search">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Nazwa </th>
                    <td mat-cell *matCellDef="let element"> {{getName(element)}} </td>
                </ng-container>
                <ng-container matColumnDef="studyCourseName">
                    <th mat-header-cell *matHeaderCellDef> Zajęcia </th>
                    <td mat-cell *matCellDef="let element"> {{element.studyCourseName}} </td>
                </ng-container>
                <ng-container matColumnDef="startingYear">
                    <th mat-header-cell *matHeaderCellDef> Rok </th>
                    <td mat-cell *matCellDef="let element"> {{element.startingYear}} </td>
                </ng-container>
                <ng-container matColumnDef="studyLevel">
                    <th mat-header-cell *matHeaderCellDef> Stopień </th>
                    <td mat-cell *matCellDef="let element"> {{element.studyLevel | translate}} </td>
                </ng-container>
                <ng-container matColumnDef="studyMode">
                    <th mat-header-cell *matHeaderCellDef> Tryb </th>
                    <td mat-cell *matCellDef="let element"> {{element.studyMode | translate}} </td>
                </ng-container>
                <ng-container matColumnDef="subgroup">
                    <th mat-header-cell *matHeaderCellDef> Podgrupa </th>
                    <td mat-cell *matCellDef="let element"> {{element.subgroup}} </td>
                </ng-container>
                <ng-container matColumnDef="membersCount">
                    <th mat-header-cell *matHeaderCellDef> Liczba studentów </th>
                    <td mat-cell *matCellDef="let element"> {{element.membersCount}} </td>
                </ng-container>
                <ng-container matColumnDef="join">
                    <th mat-header-cell *matHeaderCellDef>  </th>
                    <td mat-cell *matCellDef="let element"> 
                        <mat-chip-option 
                            (selectionChange)="handleCandidateJoin(element, $event.selected)" 
                            [selected]="element.isCandidate">{{isCandidate(element.id) ? "Zrezygnuj" : "Dołącz"}}
                        </mat-chip-option> 
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons>
            </mat-paginator>
        </div>
    </div>
</mat-dialog-content>