@if (userGroup) {
    <div class="week-drawer-menu">
        <button matTooltip="Ustawienia" mat-icon-button [matMenuTriggerFor]="settings"> <mat-icon>more_vert</mat-icon></button>
        <mat-menu #settings="matMenu">
            <button mat-menu-item (click)="leaveGroup()">
                <mat-icon>group_remove</mat-icon>
                Opuść grupę
            </button>
            @if (userGroup.isAdmin) {
                <button mat-menu-item (click)="removeGroup()">
                    <mat-icon>group_off</mat-icon>
                    Usuń grupę
                </button>
            }
        </mat-menu>
        <button matTooltip="Zamknij" mat-icon-button (click)="closeSidenav()"><mat-icon>close</mat-icon></button>
    </div>
    <mat-card style="margin: 20px" appearance="outlined">
        <mat-card-header>
             <mat-card-title-group>
                <mat-card-title>Grupa <b>{{getGroupName(userGroup)}}</b></mat-card-title>
                <button [cdkCopyToClipboard]="getLinkToGroup()" (click)="snackBarService.openMessage('LinkCopied', 1000)" mat-icon-button>
                    <mat-icon>content_copy</mat-icon>
                </button>
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-footer style="padding: 16px;">
            <mat-chip-set>
                <mat-chip>{{userGroup.group.startingYear}}</mat-chip>
                <mat-chip>{{userGroup.group.studyLevel | translate}}</mat-chip>
                <mat-chip>{{userGroup.group.studyCourseName}}</mat-chip>
            </mat-chip-set>
        </mat-card-footer>
    </mat-card>
    <mat-tab-group (selectedIndexChange)="onTabIndexChange($event)">
        <mat-tab label="Czat">
            <app-chat></app-chat>
        </mat-tab>
        <mat-tab label="Wydarzenia">
        </mat-tab>
        <mat-tab label="Członkowie">
            <app-group-members [userGroup]="userGroup"></app-group-members>
        </mat-tab>
        <mat-tab label="Zjazdy">
            <app-sessions></app-sessions>
        </mat-tab>
    </mat-tab-group>
}