<div *ngIf="isLoading">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="noData">
    Brak członków
</div>
<div style="margin: 30px 0;" *ngIf="!isLoading && !noData">
    <mat-table [dataSource]="users!" matSort style="display: table;padding-top: 20px;">
        <ng-container matColumnDef="displayName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwa </th>
            <td mat-cell *matCellDef="let element"> {{element.user.displayName}} </td>
        </ng-container>
        <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Rola </th>
            <td mat-cell *matCellDef="let element"> 
                <mat-chip-option
                    [disabled]="!userGroup?.isAdmin"
                    (selectionChange)="handleAdminToggle(element, $event.selected)" 
                    [selected]="element.isAdmin">{{isAdmin(element.user.id) ? "Admin" : "User"}}
                </mat-chip-option> 
            </td>
        </ng-container>
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Usuwanie </th>
            <td mat-cell *matCellDef="let element"> 
                <button mat-icon-button (click)="removeFromGroup(element)"><mat-icon style="color: red;">close_small</mat-icon> </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </mat-table>
    <mat-paginator 
        pageSize="5" 
        style="margin-bottom: 4px;"
        showFirstLastButtons>
    </mat-paginator>
</div>
