<div style="padding: 20px;">
  <h1>SignalR POC</h1>
  <mat-form-field appearance="outline">
    <input [formControl]="echoControl" required type="text" matInput>
  </mat-form-field>
  <button mat-raised-button (click)="send()">Echo</button>
  <p>Otrzymane powiadomienia:</p>
  <div style="overflow-y: auto; max-height: 25vh;">
    <ul>
      <li *ngFor="let message of messages">
        {{message.content}} {{message.groupId}} : {{message.user.displayName}} ({{message.user.role}})
      </li>
    </ul>
  </div>
</div>