.messages-container {
    overflow-y: auto; 
      max-height: calc(55vh - 120px);
    display: flex; 
    flex-direction: column-reverse;
}
.foreign-message {
    margin: 5px 20px;
}
.author {
    font-size: 0.80em; 
    margin-left: 12px;
}
.my-message {
    margin: 22px 20px 5px 20px;
}

.fixed-input-container {
  min-width: 25vw; 
  margin: 20px 20px;
  position: fixed;
  bottom: -15px;
  left: 67vw;
  right: 0;
  padding: 10px 20px;
  box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
}