<div style="margin-top: 20px;"></div>
<div class="messages-container">

  @for (message of messages; track $index) {
    @if (message.user.id === currentUserId) {
      <div class="my-message">
        <mat-card appearance="outlined" [matTooltip]="message.createdAt.toString()">
          <mat-card-actions align="end" [innerHTML]="message.content">
            <!-- Inny tekst<br>
            Inny tekst2<br>
            Inny tekst3<br> -->
            <!-- {{message.content}} -->
          </mat-card-actions>
        </mat-card>
      </div>
    } @else {
      <div class="foreign-message">
        <span class="author">{{message.user.displayName}}</span>
        <mat-card appearance="outlined" [matTooltip]="message.createdAt.toString()">
          <mat-card-actions [innerHTML]="message.content">
            <!-- {{message.content}} -->
            <!-- Inny tekst<br>
            Inny tekst2<br>
            Inny tekst3<br> -->
          </mat-card-actions>
        </mat-card>
      </div>
    }
  }
</div>